.body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login{
    width: 100%;
    max-width: 330px;
    text-align: center;
}

.ancho{
    width: 100%;
}

.alto{
    height: 50px;
}

mat-spinner{
    margin: 0 auto;
}