<div class="body">
    <form [formGroup]="form" (ngSubmit)="ingresar()">
        <mat-spinner *ngIf="loading" diameter="50"></mat-spinner>

        <div class="login" *ngIf="!loading">
            <img src="../../../assets/user.png" width="50%" alt="user">
            <h1>login</h1>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput autocomplete="off" formControlName="usuario">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput autocomplete="off" formControlName="password">
            </mat-form-field>
            <button type="submit" mat-flat-button class="ancho alto" color="primary" [disabled]="form.invalid">Ingresar</button>
        </div>
    </form>
    
</div>